/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-size: 62.5%; 
	font-family: "fira-sans-2", Trebuchet, sans-serif; ;
}	

img {
	max-width: 100%;
}

.welcome {
  font-family: "fira-sans-2", Trebuchet, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: white;
  font-size: 4em;
  background-color: #9e2613;
  height: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.signInContainer {
	background: url(highway_1280adj.jpg);
	background-size: cover;
	min-width: 400px;
	height: 600px;
}

h1 {
	// font-style: normal;
	color: #9e2613;	
	font-weight: 600;
	font-size: 6em;
	height: 200px;
	text-align: center;
	padding-top: 200px;
	background-color: 113 106 105 .5;
}




